body{

    height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;

    display: flex;

    
}

#main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;


    background-image: linear-gradient(green, greenyellow);


    border: solid darkcyan 5px;
}

#sale-banner{
    display: flex;
    flex:0.2;

    
    
    
    background-color: darkcyan;
}

#email-container{
    flex:0.1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main-email{
    box-shadow: none;
    border: darkcyan 2px solid;

    background-color: lightgreen;
}

#main-email:active{
    outline: none;
}